services:
    -
        class: Tooling\LaravelAuthorizerValidator\PhpStan\Rules\Validators\MustHaveRulesMethod
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\LaravelAuthorizerValidator\PhpStan\Rules\Validators\MustNotHaveAuthorizeMethod
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\LaravelAuthorizerValidator\PhpStan\Rules\Validators\MustBeFinal
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\LaravelAuthorizerValidator\PhpStan\Rules\Authorizers\MustHaveAuthorizeMethod
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\LaravelAuthorizerValidator\PhpStan\Rules\Authorizers\MustNotHaveRulesMethod
        tags:
            - phpstan.rules.rule
    -
        class: Tooling\LaravelAuthorizerValidator\PhpStan\Rules\Authorizers\MustBeFinal
        tags:
            - phpstan.rules.rule